@{
    ViewData["Title"] = "Comentario";
}



<style>
    *{
        margin: 0;
        padding: 0;
    }
    .form-style{
        border: solid 1px;
        margin: 0 35% 0 35%;
        padding: 0 5px 0 5px;
    }
</style>

<div class="text-center">
    <div class="menu">
        <button class="logoff" id="logoff">Log-off</button>
    </div>
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <br/>

    <img src="http://www.sharkdatanetworks.com/images/logo3.png"/><br/>

    

    <br/>
    <form method="POST" id="insert-form" class="form-style"><br/>

        <input type="text" name="nome" id="nome" placeholder="Informe aqui seu nome"/><br/><br/>

        <label><b>Comente Abaixo!</b></label><br/>
        <textarea name="comentario" id="comentario" rows="5" cols="25"></textarea><br /><br />

        <input type="button" id="enviar" value="Enviar" class="btn-primary"/><br /><br />

        <textarea id="caixa" rows="5" cols="25" disabled class="default"></textarea><br/><br/>

    </form>

</div>