@{
    ViewData["Title"] = "Home Page";
}

<style>
    .login-style{
        margin: 0 40% 0 40%;
        padding: 0 5px 0 5px;
    }
</style>

<div class="text-center">
    <h1>Login</h1>

    <br/>

    <form method="GET" id="insert-login" class="login-style">
        <label>Nome: </label>
        <input type="text" name="nome" id="nome">

        <br/><br/>

        <label>Senha: </label>
        <input type="password" name="senha" id="nome">

        <br/><br/>

        <input id="logar" type="button" name="logar" value="Logar">
    </form>

</div>

