@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <br/>

    <img src="http://www.sharkdatanetworks.com/images/logo3.png"/>

    <br/>

    <form action="">
        <input type="text" name="nome" id="nome" placeholder="Informe aqui seu nome" /><br /><br />
        <input type="text" name="comentario" id="comentario" placeholder="comente aqui!" /><br /><br />
        <input type="button" id="enviar" value="Enviar"/>
    </form>

    <br/><br/>

    <h3 id="result"></h3>
</div>
