*{
    margin: 0;
    padding: 0;
}

.menu{
    position: absolute;
    top: 14px;
    right: 5%;
    padding: 0 15px 5px 15px;
    margin: 2px 10px 0 10px
}

.menu .logoff{
    height: 30px;
    width: 75px;
}